@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tambeur-primary: mat-palette($mat-teal);
$tambeur-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tambeur-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tambeur-theme: mat-light-theme($tambeur-primary, $tambeur-accent, $tambeur-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tambeur-theme);

/* You can add global styles to this file, and also import other style files */

@import 'colors';

html {
  display: flex;
  height: 100vh;
  width: 100vw;
}
body {
  flex: 1 1 auto;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-color;
}

// Margin to push content down to under the navbar
app-root > router-outlet + * {
  margin-top: 4rem;
}

.success-snackbar {
  color: $primary-color;
}

.error-snackbar {
  color: $warn-color;
}
