<table mat-table
  [dataSource]="orders"
  *ngIf="orders.length > 0; else emptyMessage">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Naam</th>
    <td mat-cell *matCellDef="let order">{{order.product.name}}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Hoeveelheid</th>
    <td mat-cell *matCellDef="let order">{{order.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="bread">
    <th mat-header-cell *matHeaderCellDef>Brood</th>
    <td mat-cell *matCellDef="let order">{{order.bread}}</td>
  </ng-container>

  <ng-container matColumnDef="extra">
    <th mat-header-cell *matHeaderCellDef>Extra</th>
    <td mat-cell *matCellDef="let order">{{order.extra}}</td>
  </ng-container>

  <ng-container matColumnDef="not">
    <th mat-header-cell *matHeaderCellDef>Niet</th>
    <td mat-cell *matCellDef="let order">{{order.not}}</td>
  </ng-container>

  <ng-container matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef>Referentie</th>
    <td mat-cell *matCellDef="let order">{{order.reference}}</td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let order">
      <button mat-icon-button
        color="warn"
        (click)="remove(order)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="club">
    <th mat-header-cell *matHeaderCellDef>Club</th>
    <td mat-cell *matCellDef="let order">
      <mat-checkbox
        disabled="true"
        [checked]="order.club">
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #emptyMessage>Er zijn nog geen bestellingen toegevoegd aan je winkelmandje...</ng-template>

<button mat-raised-button
  [disabled]="orders.length === 0"
  [mat-dialog-close]="orders"
  color="primary">
  Bestel!
</button>
