<mat-toolbar color="primary"
  *ngIf="isAuthenticated">

  <div>
    <img src="assets/logo.svg">
    <h1>Tambeur 2.0</h1>
  </div>

  <div>
    <tb-timer></tb-timer>
  </div>

  <div class="buttons">
    <button mat-icon-button
      (click)="openCart()">
      <mat-icon
        [matBadge]="numberOfProductsInCart > 0 ? numberOfProductsInCart : undefined"
        matBadgeColor="warn">
        shopping_cart
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
