@import '../colors';

$toolbar-height: 4rem;

:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-top: $toolbar-height;
}

mat-toolbar {
  height: $toolbar-height;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    img {
      height: $toolbar-height;
      filter: brightness(3);
      margin-right: 1rem;
    }

    h1 {
      font-family: 'Pacifico', cursive;
      font-size: $toolbar-height / 2;
    }

    @media (max-width: 750px) {
      h1 {
        display: none;
      }
    }
  }
}
