<span *ngIf="!isAfterOrderTime; else tooLate">
  Nog {{hours}}u{{minutes}}m{{seconds}}s om te bestellen...
</span>
<ng-template #tooLate>
  <span class="too-late">
      U bent {{hours}}u{{minutes}}m{{seconds}}s te laat!
  </span>
</ng-template>
