<mat-form-field>
  <input #amount
    matInput
    type="number"
    value="1"
    min="0"
    max="9"
    placeholder="Hoeveelheid">
</mat-form-field>

<mat-form-field>
  <mat-select #bread
    [value]="breads[0].value">
    <mat-option
      *ngFor="let bread of breads"
      [value]="bread.value">
      {{bread.description}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox #club>Club?</mat-checkbox>

<mat-form-field>
  <input #extra
    matInput
    placeholder="Extra? (+ 0,25* of + 1,5**)">
</mat-form-field>

<mat-form-field>
  <input #not
    matInput
    placeholder="Niet?">
</mat-form-field>

<mat-form-field>
  <input #reference
    matInput
    placeholder="Referentie / bestemmeling">
</mat-form-field>

<mat-action-row>
  <button mat-raised-button
    color="primary"
    (click)="confirm.emit({
      product: product,
      amount: amount.value,
      bread: bread.value,
      extra: extra.value,
      not: not.value,
      reference: reference.value,
      club: club.checked
    })">
    <mat-icon>add</mat-icon>
  </button>
</mat-action-row>
