<div>

  <img src="assets/logo.svg">

  <form [formGroup]="loginForm"
    (ngSubmit)="login(loginForm.getRawValue())">

    <mat-form-field>
      <input matInput
        formControlName="username"
        placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput
        type="password"
        formControlName="password"
        placeholder="Password">
    </mat-form-field>

    <button type="submit"
      mat-raised-button
      color="primary">
      Aanmelden
    </button>

  </form>

  <a href="https://www.tambeurservice.be/aanmeldenError.php">wachtwoord vergeten?</a>

</div>
