:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;

    img {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    mat-form-field {
      display: block;
    }

    button {
      width: 100%;
    }

    a {
      margin-top: 0.6rem;
      text-align: center;
      color: gray;
      text-decoration: none;
      &:hover{
        color: black;
      }
    }
  }
}
