mat-expansion-panel-header  {
  mat-panel-title {
    flex: 0 1 10rem;
  }

  mat-panel-description {
    align-items: center;
    &:nth-of-type(1) {
      display: block;
      margin: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-of-type(2) {
      flex: 0 0 1rem;
      justify-content: flex-end !important;
    }
  }
}

::ng-deep {
  .mat-tab-header {
    position: fixed !important;
    width: 100vw;
    z-index: 2;
  }

  mat-tab-body.mat-tab-body {
    overflow: visible;
    &.mat-tab-body-active {
      overflow: visible;
    }
    .mat-tab-body-content {
      overflow: visible;
    }
  }

  mat-tab-group {
    .mat-tab-body-wrapper {
      margin-top: 4rem;
      margin-bottom: 0.5rem;
      padding-bottom: 2rem;
    }
  }

  .mat-tab-label-content > mat-icon {
    margin: 0.5rem;
    font-size: 1.5rem;
  }

  .mat-tab-label{
    &.mat-tab-label-active {
      opacity: 1;
    }
  }

  .mat-tab-body-content {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .mat-expansion-panel-header {
    height: auto;
    min-height: 3rem;
    mat-panel-title {
      padding: 15px 0;
    }
  }

  .mat-expansion-panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > mat-form-field {
      margin: 0.5rem;
    }

    > mat-checkbox {
      display: flex;
      align-items: center;
    }
  }
}
