<mat-tab-group
  backgroundColor="primary"
  animationDuration="250ms"
  mat-align-tabs="center">
  <mat-tab *ngFor="let type of types$ | async">
    <ng-template mat-tab-label>
      <mat-icon
        fontSet="fa"
        [fontIcon]="iconFor(type)">
      </mat-icon>
      {{type}}
    </ng-template>

    <mat-accordion *ngIf="products$ | async as products">
        <mat-expansion-panel
          color="primary"
          *ngFor="let product of productFor(type, products)">
          <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
            <mat-panel-title>
              {{ product.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ product.description }}
            </mat-panel-description>
            <mat-panel-description>
              €{{ product.price }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <tb-order-detail
            [product]="product"
            (confirm)="addToCart($event)">
          </tb-order-detail>

        </mat-expansion-panel>
      </mat-accordion>

  </mat-tab>
</mat-tab-group>
